body {
    padding: 0;
    margin: 0;
}

#content-container {

    display: flex;

    flex-flow: row;

    /* background-color: lime; */

    margin: 0 auto;

    width: 1200px;

    justify-content: space-between;

}

#canvas-wrapper {

    height: 600px;
    flex: 0 0 500px;

    background-color: rgb(135, 216, 145);
    
    overflow-y: scroll;

}

#image-dropper-wrapper {

    position: absolute;
    width: 200px;
    height: 200px;


    top: 20px;
    left: 20px;
    background-color: lime;
}